<html>
<head>
	<%= stylesheet_link_tag "static_pages" %>
	<%= stylesheet_link_tag "home.scss" %> 	
</head>
<body class ="dashboard-body">
	<div class="mainbody">

		<div class="search">  
			<%= render "layouts/search" %>
		</div>

		<div class="pins">  
			<%= render "layouts/more_pins" %>
		</div>
	</div>
	<%= will_paginate @pins %>
</body>
</html>