<div class="create">
  <div class="container">  
  <h2>Create New Pin</h2>
   <div class="form"> 

    <%= form_for(@pin) do |f| %>    
       <%= f.text_field :position,:placeholder => "Position" %><br> 
       <%= f.text_field :company, :placeholder => "Company" %><br> 
       <%= f.text_field :date, :placeholder => "Interview Date" %><br> 
       <%= f.text_field :difficulty,:placeholder => "How's Difficult" %><br> 
       <%= f.text_field :type_interview, :placeholder => "What kind of Interview?" %><br> 
       <%= f.text_field :attire, :placeholder => "Does it Require Attire?" %><br> 
       <%= f.text_field :questions, :placeholder => "Discuss Technical Questions" %><br> 
       <%= f.text_field :length, :placeholder => "How Long is the interiew?" %><br> 
       <%= f.text_field :description, :placeholder => "Solution if you have any" %><br> 
       <%= f.submit "Create Now", class: "btn-submit" %>       
    <% end %>    
  </div>
  </div>
</div>