<div class="pin">      
      <h3 class= "title-container title"><%= @pin.position %></h3>
      <h3 class= "title-container company"><%= @pin.company %></h3>
      <h3 class= "interview-info date"> Date Interviewed: <%= @pin.date %></h3>
      <h3 class= "interview-info type"> Type of Interview: <%= @pin.type_interview %></h3>
      <h3 class= "interview-info attire"> Attire: <%= @pin.attire %></h3>
      <h3 class= "interview-info type"> Difficulty <%= @pin.difficulty %></h3>
      <h3 class= "interview-info length"> Length <%= @pin.length %></h3>
      <h3 class= "story-col question-row questions"> Question: <%= @pin.questions %></h3>
      <h3 class= "story-col story-row description"> <%= @pin.description %></h3>
    </div>