<html>
<head>
  <title>PINterview - New Pin</title>
  <script type="text/javascript">
      // This is a jQuery convention to say that once all the files
      // load, the function Smile.start() should run.
      // This function is defined in the smiles.js
      $(function() {
          Newuser.start();
      });
  </script>
</head>
<body>
<div id ="new-header">
  <h1>Register New User</h1>
</div>

<%= form_for(@user) do |f| %>
      <%= f.label :Name %>
      <%= f.text_field :username, :placeholder => "Name" %>
      <%= f.label "Berkeley Email" %>
      <%= f.email_field :email, :placeholder => "Email" %>
      <%= f.label :Password %>
      <%= f.password_field :password, :placeholder => "Password" %>
      <%= f.label :Class %>
      <%= f.select :grad_class, ['2016', '2017', '2018', '2019', '2020', 'later']%>
      <%= f.label :Major %>
      <%= f.select :major, ['EECS', 'CS', 'CEE', 'IEOR', 'MSE', 'ME', 'NE', 'Math', 'Stat', 'Others']%>
      <%= f.submit "Create an account", class: "btn-submit" %>
    <% end %>

<!-- <div class = 'wrapper-user'>
  <button class = "create-user-button">Register</button>
</div> -->

<div class = 'wrapper-user-1'>
  <a class="my-button" href="login">Cancel</a>
</div>

</body>
</html>