<html>
<head>
  <%= stylesheet_link_tag "application" %>  
  <script type="text/javascript">
      // This is a jQuery convention to say that once all the files
      // load, the function Smile.start() should run.
      // This function is defined in the smiles.js
      $(function() {
          Newuser.start();
      });
  </script>
</head>
<body class = "login">
  <div class="mainheader">
    <a href ="/">
      <img id = "logo" src="<%= asset_path( 'logo.png' ) %>">
      <div id ="pinterview">PINTERVIEW</div>
    </a>
  </div>

  <div id = "sign-up">SIGN UP</div>
  <hr id ="line">
  <div class = "signup-form">
    <%= form_for(@user) do |f| %>

      <div class = "error_message">
            <%= flash[:error] %>
      </div>
      
      <%= f.text_field :username, :placeholder => "Full Name" %>
      <%= f.email_field :email, :placeholder => "Berkeley Email" %>
      <%= f.password_field :password, :placeholder => "Password (At Least 6 Characters)" %>
      <%= f.label :Class, :class => "graduating-class" %>
      <%= f.select :grad_class, ['2016', '2017', '2018', '2019', '2020', 'Later']%>
      <%= f.label :Major, :class => "major" %>
      <%= f.select :major, ['EECS', 'CS', 'CEE', 'IEOR', 'MSE', 'ME', 'NE', 'Math', 'Stat', 'Other']%>
      <%= f.submit "Create an account", class: "btn-submit" %>
    <% end %>
  </div>

  <div class = 'wrapper-user-1'>
    <a class="my-button" href="login">Cancel</a>
  </div>

</body>
</html>