<%= stylesheet_link_tag "static_pages" %>
Name: <%= @user.username %><br>
Email: <%= @user.email %><br>
Class: <%= @user.grad_class %><br>
Major: <%= @user.major %><br>
My Avatar: <%= image_tag(@user.avatar) %>
<p> Please fix avatar side </p>

<h2>Pins I created</h2>
<div class="mainbody">
  <div class="pins">  

    <%= render "layouts/more_pins" %>

  </div>
</div>

<h2>Pins I Marked as Useful</h2>