Name: <%= @user.username %><br>
Email: <%= @user.email %><br>
Class: <%= @user.grad_class %><br>
Major: <%= @user.major %><br>

<h2>Pins I created</h2>
<div class="mainbody">
  <div class="pins">  

    <%= render "layouts/more_pins" %>

  </div>
</div>

<h2>Pins I liked</h2>