<script>
  $(document).ready(function() {
    $('#calendar').fullCalendar({
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,agendaWeek,agendaDay'
      },
      events: window.location.href + '.json'
    });
  });
</script>

<%= stylesheet_link_tag "static_pages" %>
<div class = "profile-wrapper">
	<%= image_tag @user.avatar, :class => "avatar" %>
	<div class = "profile-name"><%= @user.username %></div><br>
	<div class = "profile-email"><%= @user.email %></div>
	<div class = "profile-major"><%= @user.major %></div> | 
	<div class = "profile-grad"><%= @user.grad_class %></div><br>
</div>

<div class = "my-pins1">
	<div class = "pin-header">Pins I Created</div>
	<div class="pin-display">  
 		<%= render "layouts/more_pins", object: @pins %>
	</div>
</div>
<br>
<div class = "my-pins2">
	<div class = "pin-header">Pins I Marked as Useful</div>
	<div class = "pin-display">
		<%= render "layouts/more_pins", object: @favorite %>
	</div>
</div>


<style type="text/css" scoped>
    #calendar
    {
      max-width: 1200px;
	  margin: 0 auto;
    }
  </style>
<br><br>
<div id='calendar'></div>