<%= stylesheet_link_tag "static_pages" %>

<div class = "company-header">
	<h2>Companies</h2>
</div>

<div class = "company-search">
	<%= form_tag("/companies/company", method: "get") do %>
 
	  <%= select_tag "category_id", options_from_collection_for_select(@pin.select(:company).uniq.order("company ASC"), "company", "company"), html_options = {:class => "company-select"} %>
	  <%= submit_tag "Go To Company Page",  html_options = {:class => "company-search-button"} %>
	  
	<% end %>
</div>

<div class="not_pop"> <%= @not_populated %> </div>

<div class="photo-grid">
	<div>
		Choose an option from the dropdown to check out out information on companies people have interviewed with!
	</div>
	<div class="random-text">
		~ Some companies people have PIN'd interviews about ~
	</div>
	
	<div class = "company-random">
		<% @random.each do |r| -%>
				<%= image_tag "http://logo.clearbit.com/#{r.downcase}.com", :class => "company-logo" %>
		<% end -%>
	</div>
</div>
