<script>
  $(document).ready(function() {
    $('#calendar').fullCalendar({
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,agendaWeek,agendaDay'
      },
      events: window.location.href + '.json'
    });
  });
</script>

<%= stylesheet_link_tag "static_pages" %>


	<%= link_to "< Return to Companies", companies_path, html_options = {:class => "return-to-companies"} %>


<div class = "company-wrapper"> 

	<%= image_tag "http://logo.clearbit.com/#{@company_name.downcase}.com", :class => "avatar" %> 

	<div class="profile-name"> 
		<%= @company['name'].upcase %> 
	</div>

	<div class="company-location">
		<div> <%= @company['city'] %> </div>
		<div> <%= @company['state'] %> </div>
	</div>

	<div class="profile-major"> 
		-- Company Links --
	</div>

	<div class="company-links">

		<a href=<%= @company['url'] %>><%= @company['url'] %></a> |
		<a href = <%= @company['facebook'] %> > Find this company on Facebook </a> |
		<a href = <%= @company['linkedin'] %> > Find this company on LinkedIn </a>

	</div>

	<div> Location (maybe use google maps here?) </div>
	

	<div> Description </div>
	<div> <%= @company['description'] %> </div>

</div>





<div>---</div>

<div> Most Common Positions Interviewed For: </div>
<div> 
	<% @common_positions.each do |pos| -%>
		<div>
			- <%= pos %> -
		<div>
	<% end -%>
</div>

<div>---</div>

<div> Average interview Length: </div>
<div> 
	- <%= @length %> Minutes -
</div>

<div>---</div>

<div> Most common interview month: </div>
<div> 
	- <%= @month %> -
</div>

<div>---</div>

<div> Most common interview question type, e.g. Dynamic Programming, Probabilty, Search Algorithm, etc (not yet implemented)</div>

<div>---</div>

<div> Percentage moved on to next round: </div>
<div> 
	- <%= @next_round %>% -
</div>

<div>---</div>

<div> Percentage recieved offer: </div>
<div> 
	- <%= @offers %>% -
</div>

<div>---</div>

<div> Company Interview Questions </div>
<div>
	<% @questions.each do |question| -%>
		<div>

			<%= question.description %>

			<%= link_to "Go to this PIN", question  %>

			<!-- <a href="/pins/<%=question.id%>">Go to this PIN</a> -->

		<div>
	<% end -%>
</div>

<br>
<br>
<style type="text/css" scoped>
    #calendar
    {
      max-width: 1200px;
	  margin: 0 auto;
    }
  </style>
<div id='calendar'></div>
