<%= stylesheet_link_tag "static_pages" %>
<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<%= link_to "< Return to Companies", companies_path, html_options = {:class => "return-to-companies"} %>

<div class = "company-wrapper"> 
	<%= image_tag "http://logo.clearbit.com/#{@company_name.downcase}.com", :class => "avatar" %> 
	<div class="profile-name"> 
		<%= @company['name'].upcase %> 
	</div>
	<div class="company-location">
		<div> <%= @company['city'] %>, <%= @company['state'] %> </div>
	</div>

	<div class="company-number">
		<div> We have <b><%= @company_number %></b> PINs for this company </div>
	</div>

	<br>
  
  <div style="margin: 0 auto; padding: 0 0 40px;">
      <ul class="tabs">
          <li><a href="#view1">Calendar</a></li>
          <li><a href="#view2">Basic Info</a></li>
          <li><a href="#view3">Interview Statistics</a></li>
          <li><a href="#view4">Processes and Questions</a></li>
          
      </ul>
      <div class="tabcontents">
          <div id="view1">
              <div class="calendar-text"> This calendar shows the date and type of <%= @company_name %> interviews, click on an interview to view its PIN!</div>
              
              <div id='calendar'>
        
              </div>
          </div>

          <div id="view2">
        		<div class="profile-major"> -- Company Links -- </div>
						<div class="company-links">
							<a href=<%= @company['url'] %>><%= @company['url'] %></a> |
							<a href = <%= @company['facebook'] %> > Find this company on Facebook </a> |
							<a href = <%= @company['linkedin'] %> > Find this company on LinkedIn </a>
						</div>
						<div class="company-description"> <%= @company['description'] %> </div>
          </div>

          <div id="view3">
				
				<div> <b>Average interview Length:</b> <%= @length %> Minutes </div>
				<div class="pie-div"> 
					<%= pie_chart @pie, library: {backgroundColor: "#f7f7f7"} %>
				</div>
				<br><br><br>
				<div> <b>Most common interview month:</b>  <%= @month2 %> </div>
				<div class="pie-dive"> 
					
					<%= column_chart @month1, library: {backgroundColor: "#f7f7f7"}, height: "500px" %>
				</div>
				
				<div> <b>Percentage moved on to next round:</b> <%= @next_round %>%
				</div>
				
				<div> <b>Percentage recieved offer:</b> <%= @offers %>%
				</div>
				
				<div class="pie-div"> 
					<%= pie_chart @pie_results, library: {backgroundColor: "#f7f7f7"}%>
				</div>

			</div>

          <div id="view4">
				<div> <b>Company Interview Questions</b> </div>
					<div class="company-questions">

						<% if @questions.size > 0 %>
							<% @questions.each do |question| -%>
								<div class="ind-question">
									<%= question.description %> - <%= link_to "Go to this PIN", question  %>
									<!-- <a href="/pins/<%=question.id%>">Go to this PIN</a> -->
								<div>
							<% end -%>
						<% else %>
							    <div class="ind-question">
									There are currently no questions from this company
								<div>         
						<% end %>
						
					</div>
          		</div>
          </div>
      </div>
  </div>
</div>

