<script>
$(document).ready(function() {
    $(".datepicker").pickadate({
      selectYears: true,
      selectMonths: true,
      max: true
    });
});
</script>
<div class="form">
        <%= form_for(@pin) do |f| %>  

         <div class = "error_message">
          <%= flash[:error] %>
         </div>

          <%= f.text_field :position, :placeholder => "Position" %><br>
          <%= f.text_field :company, :placeholder => "Company" %><br>
          <%= f.text_field :date, class: "datepicker", placeholder: "Interview Date" %><br>   

          <%= f.label :Difficulty %><br>
          <%= f.select :difficulty, ['Very Easy', 'Easy', "Alright", "Hard", "Very Hard"]%><br>      

          <%= f.label :Type %><br>
          <%= f.select :type_interview, ['Onsite', 'Offsite', "Phone", "Behavior", "OCR"]%><br>

          <%= f.label :Attire %><br>
          <%= f.select :attire, ['Yes', 'No']%><br>

          <%= f.text_field :questions, :placeholder => "Discuss Technical Questions" %><br>
          
          <%= f.label :Length %><br>
          <%= f.select :length, ["Less than 30 Minutes", '30 Minutes', '1 Hour', "1 Hour 30 Minutes", "More than 2 Hour"]%><br>

          <%= f.label :description %><br>
          <%= f.text_field :description, :placeholder => "Solution if you have any" %><br>
          <%= f.submit "Create Now", class: "btn-submit" %>
        <% end %>
      </div>
</div>