<div class="pin">      
      <h3 class= "title-container title"><%= @pin.position %></h3>
      <h3 class= "title-container company"><%= @pin.company %></h3>
      <h3 class= "interview-info date"> Date Interviewed: <%= @pin.date %></h3>
      <h3 class= "interview-info type"> Type of Interview: <%= @pin.type_interview %></h3>
      <h3 class= "interview-info attire"> Offer: <%= @pin.attire %></h3>
      <h3 class= "interview-info job-type"> Position Type: <%= @pin.position_type %></h3>
      <h3 class= "interview-info type"> Difficulty: <%= @pin.difficulty %></h3>
      <h3 class= "interview-info length"> Length: <%= @pin.length %></h3>
      <h3 class= "story-col question-row questions"> Question: <%= @pin.questions %></h3>
      <h3 class= "story-col story-row description"> <%= @pin.description %></h3>      
</div>

<% if current_user.favorites.exists?(id: @pin.id) %>
    <%= link_to "Unmark Helpful", favorite_pin_path(@pin, type: "Unmark"), method: :put %>
<% else %>
    <%= link_to "Mark Helpful",   favorite_pin_path(@pin, type: "Mark"), method: :put %>
<% end %>

<% if current_user == @pin.user%>
 <p>
    This is my Pin
    <%= link_to 'Edit', edit_pin_path(@pin) %>
    <%= link_to 'Destroy', @pin, method: :delete, data: { confirm: 'Are you sure?' } %>
</p>
<% end %>

<%= link_to like_pin_path(@pin), method: :put, class: "btn btn-default" do %>
  <span class="glyphicon glyphicon-heart"></span>
  <p> Click Me to Like this PIN (Front-End Can Change this button loke and this display position, remember, a user can like only one time) </p> <br>
  <%= @pin.get_upvotes.size %>
<% end %>

<%= link_to dislike_pin_path(@pin), method: :put, class: "btn btn-default" do %>
  <span class="glyphicon glyphicon-heart"></span>
  <p> Click Me to Dislike this PIN</p> <br>  
<% end %>

<% if Pin.count > 1 %>   
    <h5> Recommend Pin </h5>
    <%= link_to(@random_pin) do %>
        <div class="pin" syle="border:1px">
          <h3 class= "title-container title"><%= @random_pin.position %></h3>
          <h3 class= "title-container company"><%= @random_pin.company %></h3>
        </div>
    <% end %>
<% end %>