<div class = "content">
  <div class="individual-pin">
    <div id="info-row">
        <div id="pin-column-1">
          <div class= "title-container-company"><%= link_to( @pin.company, get_company_url(@pin.company)) %></div>
          <%= image_tag "https://logo.clearbit.com/#{@pin.company.downcase.delete(' ')}.com", :class => "individual-logo" %>
        </div>

        <div id="pin-column-2">
            <div class= "title-container-title"><%= @pin.position %></div>
            <div class= "interview-info-date"> <b>Date Interviewed: </b> <%= @pin.date %></div>
            <div class= "interview-info-type"> <b>Type of Interview: </b> <%= @pin.type_interview %></div>
            <div class= "interview-info-attire"> <b>Result:</b> <%= @pin.attire %></div>
            <div class= "interview-info-job-type"> <b>Position Type: </b> <%= @pin.position_type %></div>
            <div class= "interview-info-type"> <b>Difficulty: </b> <%= @pin.difficulty %></div>
            <div class= "interview-info-length"> <b>Length: </b> <%= @pin.length %></div>
            <div class= "story-col-question-row-questions"> <b>Interview Process: </b> <%= @pin.questions %></div>
            <div class= "story-col-story-row-description"> <b>Questions Asked: </b> <%= @pin.description %></div>
            <% if current_user.favorites.exists?(id: @pin.id) %>
                <%= button_to "Unmark Useful", favorite_pin_path(@pin, type: "Unmark"), method: :put, class: "useful-button" %>
            <% else %>
                <%= button_to "Mark Useful",   favorite_pin_path(@pin, type: "Mark"), method: :put, class: "not-useful-button" %>
            <% end %>
        </div>
    </div>
    <div id="edit-delete-row">
        <% if current_user == @pin.user%>
            <div id="edit-delete-wrapper">
                <%= button_to 'Edit Pin', edit_pin_path(@pin), id: "edit-button" %>
                <%= button_to 'Delete Pin', @pin, method: :delete, data: { confirm: 'Are you sure?' }, id: "delete-button" %>
            </div>
        <% end %>
    </div>

  <div class = "individual-backdrop"></div>     
</div>



<div id="back-button-wrapper">
    <%= link_to 'Back', 'javascript:history.go(-1);', class: "back-button" %>
</div>
<!-- 
<%= @pin.get_upvotes.size %>
<%= button_to "like pin", like_pin_path(@pin), method: :put %>
<%= button_to "unlike pin", dislike_pin_path(@pin), method: :put %> -->
