<div class = "content">
  <div class="individual-pin">
    <% if current_user.favorites.exists?(id: @pin.id) %>
        <%= button_to "Unmark Helpful", favorite_pin_path(@pin, type: "Unmark"), method: :put %>
    <% else %>
        <%= button_to "Mark Helpful",   favorite_pin_path(@pin, type: "Mark"), method: :put %>
    <% end %>  
    <%= image_tag "https://logo.clearbit.com/#{@pin.company.downcase}.com", :class => "individual-logo" %>
    <div class= "title-container-company"><%= @pin.company %></div>
    <div class= "title-container-title"><%= @pin.position %></div>
    <div class= "interview-info-date"> Date Interviewed: <%= @pin.date %></div>
    <div class= "interview-info-type"> Type of Interview: <%= @pin.type_interview %></div>
    <div class= "interview-info-attire"> Offer: <%= @pin.attire %></div>
    <div class= "interview-info-job-type"> Position Type: <%= @pin.position_type %></div>
    <div class= "interview-info-type"> Difficulty: <%= @pin.difficulty %></div>
    <div class= "interview-info-length"> Length: <%= @pin.length %></div>
    <div class= "story-col-question-row-questions"> Question: <%= @pin.questions %></div>
    <div class= "story-col-story-row-description"> <%= @pin.description %></div>      

    <br>

    <% if current_user == @pin.user%>
     <p>
        <%= button_to 'Edit', edit_pin_path(@pin) %>
        <%= button_to 'Delete', @pin, method: :delete, data: { confirm: 'Are you sure?' } %>
    </p>
    <% end %>      
  <div class = "individual-backdrop"></div>     
</div>

<div id="back-button">
    <%= link_to 'Back', 'javascript:history.go(-1);', class: "useful-button" %>
</div>
<!-- 
<%= @pin.get_upvotes.size %>
<%= button_to "like pin", like_pin_path(@pin), method: :put %>
<%= button_to "unlike pin", dislike_pin_path(@pin), method: :put %> -->
