<div class="row right padm">
    <%= sort_link @search, :like_count, "Most Popular" %> 
    <%= sort_link @search, :id, "Most Recent" %> 
    <%= sort_link @search, :difficulty, "Difficulty Level" %> 
    <%= sort_link @search, :position, "Job Tittle" %>
    <%= sort_link @search, :company, "Company Name" %>
</div>   

    <%= search_form_for @search do |f| %>
      <%= f.condition_fields do |c| %>
      <div class= "field">
        <%= c.attribute_fields do |a| %>
          <%= a.attribute_select %>
        <% end %>
        <%= c.predicate_select %>
        <%= c.value_fields do |v| %>
          <%= v.text_field :value %>
        <% end %>
      </div>
      <% end %> 
      <div class = "action">
        <%= f.submit "Search", class: "btn-submit" %>
      </div>
<% end %>