<h2> Search </h2>
    <%= search_form_for @search do |f| %>
      <%= f.condition_fields do |c| %>
      <div class= "field">
        <%= c.attribute_fields do |a| %>
          <%= a.attribute_select %>
        <% end %>
        <%= c.predicate_select %>
        <%= c.value_fields do |v| %>
          <%= v.text_field :value %>
        <% end %>
      </div>
      <% end %> 
      <div class = "action">
        <%= f.submit "Search", class: "btn-submit" %>
      </div>
<% end %>

<h2> Filter </h2>
    <div class="column">
        <div class="filter-label red">
          <%= sort_link @search, :create_at, "Most Recent" %>
        </div>
        <div class="filter-label dark-golden-rod">
          <%= sort_link @search, :like_count, "Most Popular" %>
        </div>
        <div class="filter-label dark-slate-gray">
          <%= sort_link @search, :difficulty, "Difficulty" %>
        </div>
    </div>